/*
 * Sobrescrita do Materialize
 */
 
.card .card-image .card-title {
    padding: 10px;
    width: 100%;
    background-color: rgba(63,81,181,0.6);
}
.card .card-title {
    font-size: 20px;
    font-weight: 300;
}
.card .card-image img {
    height: 250px;
}
/*
 * MEU CSS
 */
 
.mg-tp-15{
	margin-top: 15px;
}
.mg-bt-5{
	margin-bottom: 5px;
}
.uppercase{
	text-transform: uppercase;	
}
span.preco.right {
    font-size: 18px;
    font-weight: 500;
    margin-top: -4px;
}